In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn import metrics 
from sklearn.preprocessing import LabelEncoder
from matplotlib import pyplot as plt 
import numpy as np
import csv

In [2]:
df = pd.read_csv("Dataset2.csv")

In [3]:
df.head()

,Packet ID,TIME,Size,eth.src,eth.dst,IP.src,IP.dst,IP.proto,port.src,port.dst,label
0,3,1.474639e+09,156,30:8c:fb:2f:e4:b2,14:cc:20:51:33:ea,192.168.1.106,52.87.241.159,6,46330,443,Dropcam
1,4,1.474639e+09,66,14:cc:20:51:33:ea,30:8c:fb:2f:e4:b2,52.87.241.159,192.168.1.106,6,443,46330,TPLink Router Bridge LAN (Gateway)
2,5,1.474639e+09,140,70:5a:0f:e4:9b:c0,14:cc:20:51:33:ea,192.168.1.236,15.72.162.53,6,23596,5223,HP Printer
3,6,1.474639e+09,66,14:cc:20:51:33:ea,70:5a:0f:e4:9b:c0,15.72.162.53,192.168.1.236,6,5223,23596,TPLink Router Bridge LAN (Gateway)
4,11,1.474639e+09,156,30:8c:fb:2f:e4:b2,14:cc:20:51:33:ea,192.168.1.106,52.87.241.159,6,46330,443,Dropcam

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6756140 entries, 0 to 6756139
Data columns (total 11 columns):
 #   Column     Dtype
---  ------     -----
 0   Packet ID  int64
 1   TIME       float64
 2   Size       int64
 3   eth.src    object
 4   eth.dst    object
 5   IP.src     object
 6   IP.dst     object
 7   IP.proto   int64
 8   port.src   int64
 9   port.dst   int64
 10  label      object
dtypes: float64(1), int64(5), object(5)
memory usage: 567.0+ MB

In [5]:
df = df.dropna()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6756132 entries, 0 to 6756139
Data columns (total 11 columns):
 #   Column     Dtype
---  ------     -----
 0   Packet ID  int64
 1   TIME       float64
 2   Size       int64
 3   eth.src    object
 4   eth.dst    object
 5   IP.src     object
 6   IP.dst     object
 7   IP.proto   int64
 8   port.src   int64
 9   port.dst   int64
 10  label      object
dtypes: float64(1), int64(5), object(5)
memory usage: 618.5+ MB

In [7]:
df['port.dst'].value_counts()

443      1637576
47940     500538
80        416971
60757     224772
40767     216910
          ...
17719          1
17718          1
17717          1
17716          1
61415          1
Name: port.dst, Length: 65535, dtype: int64

In [8]:
objList = df.select_dtypes(include = "object").columns
print (objList)

Index(['eth.src', 'eth.dst', 'IP.src', 'IP.dst', 'label'], dtype='object')

In [9]:
L = LabelEncoder()
for feat in objList:
    df[feat] = L.fit_transform(df[feat].astype(str))
print (df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6756132 entries, 0 to 6756139
Data columns (total 11 columns):
 #   Column     Dtype
---  ------     -----
 0   Packet ID  int64
 1   TIME       float64
 2   Size       int64
 3   eth.src    int32
 4   eth.dst    int32
 5   IP.src     int32
 6   IP.dst     int32
 7   IP.proto   int64
 8   port.src   int64
 9   port.dst   int64
 10  label      int32
dtypes: float64(1), int32(5), int64(5)
memory usage: 489.7 MB
None

In [10]:
df['label'].value_counts()

21    2910574
5      970569
10     417435
17     377894
0      316410
3      291276
8      223755
2      221522
25     196010
19     154803
13     140143
18     120268
16     118368
24     106880
22      36924
14      36115
9       26128
15      24163
11      20700
27      16489
6       12830
20      11260
1        2485
26       1362
12       1039
7         361
23        315
4          54
Name: label, dtype: int64

In [11]:
X = df.drop(['label','Packet ID','TIME','IP.proto','IP.src','port.dst'],axis=1)

In [12]:
X.head()

   Size  eth.src  eth.dst  IP.dst  port.src
0   156       10        9    1419     46330
1    66        7       12     683       443
2   140       14        9     373     23596
3    66        7       16     701      5223
4   156       10        9    1419     46330

In [13]:
Y=df['label']

In [14]:
Y.head()

0     5
1    21
2     6
3    21
4     5
Name: label, dtype: int32

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=100)

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
scalar = StandardScaler()

In [18]:
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)

In [19]:
from sklearn.decomposition import PCA
  
pca = PCA(n_components = 5)
  
X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=2)
  
knn.fit(X_train, Y_train)

Y_pred=knn.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
Cmat = confusion_matrix(Y_test, Y_pred)

In [ ]:
print(Cmat)

In [ ]:
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(Y_test, Y_pred))

In [ ]:
from sklearn.metrics import roc_curve, auc, classification_report
print(classification_report(Y_test, Y_pred)) #labels=np.unique(Y_pred)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.datasets import load_digits
from sklearn.model_selection import validation_curve


parameter_range = np.arange(1, 10, 1)

train_score, test_score = validation_curve(KNeighborsClassifier(n_neighbors=2), X, Y,
									param_name = "n_neighbors",
									param_range = parameter_range,
										cv = 5, scoring = "accuracy")

mean_train_score = np.mean(train_score, axis = 1)
std_train_score = np.std(train_score, axis = 1)

# Calculating mean and standard deviation of testing score
mean_test_score = np.mean(test_score, axis = 1)
std_test_score = np.std(test_score, axis = 1)

# Plot mean accuracy scores for training and testing scores
plt.plot(parameter_range, mean_train_score,
	label = "Training Score", color = 'b')
plt.plot(parameter_range, mean_test_score,
label = "Cross Validation Score", color = 'g')

# Creating the plot
plt.title("Validation Curve with KNeighbors Classifier")
plt.xlabel("Neighbors")
plt.ylabel("Accuracy")
plt.tight_layout()
plt.legend(loc = 'best')
plt.show()